.div-artigo{
    border: 1px solid whitesmoke;
    border-radius: 10px; 
    color: gray
}

.resumo{
    font-style: italic;
    font-size: 15px;
}

.data-artigo{
    color: gray;
    font-size: 15px;
}

.texto-artigo{
    color: black;
}

.container-artigos-index{
    width: 700px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
}

#comentario-style{
    border: 1px solid;
    border-radius: 10px;
    /*background-color: whitesmoke;*/
}

#comentario-caixa{
    padding-top: 20px;
}

#textoComentario{
    font-style: oblique;
    font-size: 15px;
}

#tituloComentario{
    font-style: italic;
}